

<section class="example-container"> 
    <form fxLayout="column" fxLayoutAlign="center center" #f="ngForm"  (ngSubmit)="onSubmit(f)">
    <mat-form-field >
      <input type="email" matInput placeholder="Input" ngModel name="email">
    </mat-form-field>
    <mat-form-field >  
      <input type="password" matInput placeholder="password" ngModel name="password">
    </mat-form-field>
    <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Choose a date" ngModel name="date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
    <button type="submit" mat-raised-button color="primary" >Submit</button>
</form>
    
</section>

